<div class="row">
    <div class="col-sm-12 text-center">
        <form class="form-inline" ng-submit="findOne()">
            <div class="form-group">
                <angucomplete-alt id="airports"
                                  class="text-left"
                                  placeholder="Search airport"
                                  pause="400"
                                  selected-object="selectedAirport"
                                  remote-url="/api/airports/find?s="
                                  title-field="code"
                                  description-field="desc"
                                  match-class="highlight"
                                  ng-required="true"
                                  input-class="form-control"/>
            </div>
            <div class="form-group">
                <p class="input-group">
                    <input type="text"
                           placeholder="Click calendar ->"
                           class="form-control"
                           close-on-date-selection="true"
                           uib-datepicker-popup="dd.MM.yyyy"
                           is-open="datepicker.opened"
                           ng-model="selectedDate"
                           ng-required="true"
                           datepicker-options="datepickeropts"
                           close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="opendatepicker()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                </p>
            </div>
            <button type="submit" class="btn btn-default form-control">Load</button>
        </form>
    </div>
</div>
<div class="row" ng-show="result">
    <div class="col-sm-offset-1 col-sm-5">
        <h3>Departures</h3>
        <div ng-repeat="dep in deps track by $index">
            <h4>Terminal "{{dep.terminal[0]}}"</h4>
            <canvas id="line1" class="chart chart-line" chart-data="dep.load"
                    chart-labels="labels" chart-legend="true" chart-series="dep.terminal" chart-options="gr_opts">
            </canvas>
        </div>
    </div>
    <div class="col-sm-5">
        <h3>Arrivals</h3>
        <div ng-repeat="arr in arrs track by $index">
            <h4>Terminal "{{arr.terminal[0]}}"</h4>
            <canvas id="line2" class="chart chart-line" chart-data="arr.load"
                    chart-labels="labels" chart-legend="true" chart-series="arr.terminal" chart-options="gr_opts">
            </canvas>
        </div>

    </div>
    <div class="col-sm-12">
        <h4>JSON</h4>
        <pre class="small">{{result | json}}</pre>
    </div>
</div>
